$blue-green:#14a98d;
$light-blue-grey:#afdfdf;
$light-blue-grey-two:#cad9f0;
$marine-blue:#002954;
$macaroni-and-cheese:#f1cb28;
$charcoal-grey:#4a4a4a;
$white:#f3f3f3;
$white-two:#ffffff;
$white-three:#e1e1e1;
$black:#000000;
$grapefruit:#ff5a5a;
$purpley-grey:#9b9b9b;
$green:#268a77;
$light-orange:#f66e2f;
$light-green:#7ed321;