<div class="container">
  <div class="buttonclass">
<p class="textfontcolor">
  Looks like you have not create Lead. <br>
  Click add to create your first Lead.
</p>
<!--schedule meeting starts-->
<popover-content #myPopover 
                placement="bottom"
                [animation]="true" 
                [closeOnClickOutside]="true" >
 <div class="marginBottm">               
     <input type=text placeholder="location" class="locationinput">  
     <select class="selectTime">
          <option>12:00AM</option>
          <option>12:30AM</option>
          <option>1:00AM</option>
          <option>1:30AM</option>
          <option>2:00AM</option>
          <option>2:30AM</option>
           <option>12:00AM</option>
          <option>12:30AM</option>
          <option>1:00AM</option>
          <option>1:30AM</option>
          <option>2:00AM</option>
          <option>2:30AM</option>
          <!--<option>2</option>
          <option>2</option>
          <option>2</option>
          <option>2</option>-->
     </select>  
 </div>           
    <material-datepicker [(date)]="yourModelDate"></material-datepicker>
    <input type="button" class="brandblue scheduleBtn" value="Schedule">
</popover-content>
 
<button [popover]="myPopover" class="brandblue">Schedule meeting</button>

<!--schedule meeting ends-->

<!--Attach file starts-->

       <popover-content #attachFile 
                placement="bottom"
                [animation]="true" 
                [closeOnClickOutside]="true" >
 <div class="row" *ngFor='let filename of this.files'>
                     <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                         <p>{{filename}}</p>
                     </div>
                     <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" (click)="deleteFile(filename)">
                       <p><img src="/assets/images/rubbish-bin.png"></p>
                     </div>
                </div>
               
    <div class="fileUpload btn naturalButtonsmall">
      <span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 482.8 482.8" style="enable-background:new 0 0 482.8 482.8;" xml:space="preserve" width="16px" height="16px">
                <g>
                  <g>
                    <path d="M255.2,209.3c-5.3,5.3-5.3,13.8,0,19.1c21.9,21.9,21.9,57.5,0,79.4l-115,115c-21.9,21.9-57.5,21.9-79.4,0l-17.3-17.3    c-21.9-21.9-21.9-57.5,0-79.4l115-115c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-115,115C8.7,322.7,0,343.6,0,365.8    c0,22.2,8.6,43.1,24.4,58.8l17.3,17.3c16.2,16.2,37.5,24.3,58.8,24.3s42.6-8.1,58.8-24.3l115-115c32.4-32.4,32.4-85.2,0-117.6    C269.1,204,260.5,204,255.2,209.3z" fill="#00a890"/>
                    <path d="M458.5,58.2l-17.3-17.3c-32.4-32.4-85.2-32.4-117.6,0l-115,115c-32.4,32.4-32.4,85.2,0,117.6c5.3,5.3,13.8,5.3,19.1,0    s5.3-13.8,0-19.1c-21.9-21.9-21.9-57.5,0-79.4l115-115c21.9-21.9,57.5-21.9,79.4,0l17.3,17.3c21.9,21.9,21.9,57.5,0,79.4l-115,115    c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4l115-115c15.7-15.7,24.4-36.6,24.4-58.8    C482.8,94.8,474.2,73.9,458.5,58.2z" fill="#00a890"/>
                  </g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g>
                </g>
                </svg></span>
               <span class="iconBtnText">{{this.attfileTest}}</span> 
    <input class="upload" id="uploadBtn" type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".pdf,.doc,.docx,.png,.svg" multiple>
    
</div>
<!--<div><button (click)="upload()">upload</button></div>-->
</popover-content>



      <button [popover]="attachFile" type="button" class="naturalButtonsmall">
              <span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 482.8 482.8" style="enable-background:new 0 0 482.8 482.8;" xml:space="preserve" width="16px" height="16px">
                <g>
                  <g>
                    <path d="M255.2,209.3c-5.3,5.3-5.3,13.8,0,19.1c21.9,21.9,21.9,57.5,0,79.4l-115,115c-21.9,21.9-57.5,21.9-79.4,0l-17.3-17.3    c-21.9-21.9-21.9-57.5,0-79.4l115-115c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-115,115C8.7,322.7,0,343.6,0,365.8    c0,22.2,8.6,43.1,24.4,58.8l17.3,17.3c16.2,16.2,37.5,24.3,58.8,24.3s42.6-8.1,58.8-24.3l115-115c32.4-32.4,32.4-85.2,0-117.6    C269.1,204,260.5,204,255.2,209.3z" fill="#00a890"/>
                    <path d="M458.5,58.2l-17.3-17.3c-32.4-32.4-85.2-32.4-117.6,0l-115,115c-32.4,32.4-32.4,85.2,0,117.6c5.3,5.3,13.8,5.3,19.1,0    s5.3-13.8,0-19.1c-21.9-21.9-21.9-57.5,0-79.4l115-115c21.9-21.9,57.5-21.9,79.4,0l17.3,17.3c21.9,21.9,21.9,57.5,0,79.4l-115,115    c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4l115-115c15.7-15.7,24.4-36.6,24.4-58.8    C482.8,94.8,474.2,73.9,458.5,58.2z" fill="#00a890"/>
                  </g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g>
                </g>
                </svg></span>
               <span class="iconBtnText">{{this.attfileTest}}</span> 
            </button>
<!--Attach file ends-->
 <!--<input type="button" class="buttonMedium" value="Add Lead" data-toggle="modal" data-target="#myModal">
  </div>
<div class="changeimagewitdth">
<img src="/assets/images/lead.svg" class="changeimgheight"/>
</div>-->

<!--
<div class="fileUpload btn naturalButtonsmall">
      <span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 482.8 482.8" style="enable-background:new 0 0 482.8 482.8;" xml:space="preserve" width="16px" height="16px">
                <g>
                  <g>
                    <path d="M255.2,209.3c-5.3,5.3-5.3,13.8,0,19.1c21.9,21.9,21.9,57.5,0,79.4l-115,115c-21.9,21.9-57.5,21.9-79.4,0l-17.3-17.3    c-21.9-21.9-21.9-57.5,0-79.4l115-115c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-115,115C8.7,322.7,0,343.6,0,365.8    c0,22.2,8.6,43.1,24.4,58.8l17.3,17.3c16.2,16.2,37.5,24.3,58.8,24.3s42.6-8.1,58.8-24.3l115-115c32.4-32.4,32.4-85.2,0-117.6    C269.1,204,260.5,204,255.2,209.3z" fill="#00a890"/>
                    <path d="M458.5,58.2l-17.3-17.3c-32.4-32.4-85.2-32.4-117.6,0l-115,115c-32.4,32.4-32.4,85.2,0,117.6c5.3,5.3,13.8,5.3,19.1,0    s5.3-13.8,0-19.1c-21.9-21.9-21.9-57.5,0-79.4l115-115c21.9-21.9,57.5-21.9,79.4,0l17.3,17.3c21.9,21.9,21.9,57.5,0,79.4l-115,115    c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4l115-115c15.7-15.7,24.4-36.6,24.4-58.8    C482.8,94.8,474.2,73.9,458.5,58.2z" fill="#00a890"/>
                  </g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g>
                </g>
                </svg></span>
               <span class="iconBtnText">{{this.attfileTest}}</span> 
    <input class="upload" id="uploadBtn" type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".pdf,.doc,.docx" multiple>
</div>-->
<!--<div>
    <ul>
        <li *ngFor='let filename of this.files' (click)="deleteFile(filename)">{{filename}}</li>
    </ul>
</div>-->

<div class="modal" id="myModal" role="dialog" tabindex="-1" data-focus-on="input:first">
    <div class="popup-dialog">
    
    
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <div class="row">
          <div class="col-md-3">
          <h4 class="modal-title Create-Lead ">Create Lead</h4>
          </div>
                      <div class="col-md-5">
                      <span class="AM-Lead">  
                      <span class="col-sd-2">
                        <div class="small">
                            AM
                        </div>
                      </span>
                        <span class="col-sd-2">
                        <div class="sg">
                            SG
                        </div>
                        </span>
                        <span class="col-sd-2">  
                        <div class="users">
                            +5
                        </div>
                          </span>
                      </span>
                      </div>
             <div class="col-md-3">       
           <input type="button" class="brandblue invite-btn" value="Invite People">   
          </div> 
        </div>          
        </div>
        <div class="modal-body">
        
    <div>
          <input type="text" placeholder="Add title here" class="Add-title-here input">
    </div>
          <!-- <p class="Add-title-here">Add title here</p> -->
          <div>
                  <textarea class="textArea" placeholder="Add your conversation here"></textarea>
               </div>
         <button type="button" class="naturalButtonsmall margin-left">
              <span><svg xmlns="/assets/images/revert-hand-drawn-arrows.svg" xmlns:xlink="/assets/images/revert-hand-drawn-arrows.svg" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 482.8 482.8" style="enable-background:new 0 0 482.8 482.8;" xml:space="preserve" width="16px" height="16px">
                <g>
                  <g>
                   
		<path d="M27.399,161.809c90.2,0.173,220.021,4.161,310.195,2.44c-9.714,9.8-19.316,19.718-28.624,29.924    c-24.552,26.921,15.386,67.088,40.045,40.048c27.248-29.876,56.441-57.795,86.371-84.952c14.122-12.809,9.968-29.765-1.051-39.628    c-1.899-2.798-4.352-5.408-7.511-7.68c-27.822-20.005-54.491-41.396-80.644-63.539c-27.685-23.45-67.953,16.412-40.045,40.05    c11.629,9.849,23.41,19.504,35.287,29.036c-91.454,1.909-222.56-2.158-314.029-2.333C-9.129,105.101-9.124,161.738,27.399,161.809    z" fill="#00a890"/>
		<path d="M416.994,275.083c-91.475,0.178-222.578,4.24-314.032,2.336c11.878-9.531,23.661-19.189,35.287-29.036    c27.909-23.643-12.365-63.502-40.045-40.05c-26.144,22.14-52.818,43.533-80.644,63.535c-3.156,2.271-5.616,4.881-7.508,7.679    c-11.019,9.866-15.173,26.821-1.051,39.628c29.935,27.162,59.123,55.081,86.369,84.955c24.659,27.04,64.597-13.127,40.045-40.045    c-9.308-10.217-18.913-20.124-28.629-29.93c90.18,1.722,220.003-2.265,310.203-2.438    C453.516,331.652,453.521,275.012,416.994,275.083z" fill="#00a890"/>
                  </g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g>
                </g>
                </svg></span>
               <span class="iconBtnText">Request Owner</span> 
            </button>   
     <button type="button" class="naturalButtonsmall margin-top">
              <span><svg xmlns="/assets/images/revert-hand-drawn-arrows.svg" xmlns:xlink="/assets/images/revert-hand-drawn-arrows.svg" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 482.8 482.8" style="enable-background:new 0 0 482.8 482.8;" xml:space="preserve" width="16px" height="16px">
                <g>
                  <g>
                   
		<path d="M27.399,161.809c90.2,0.173,220.021,4.161,310.195,2.44c-9.714,9.8-19.316,19.718-28.624,29.924    c-24.552,26.921,15.386,67.088,40.045,40.048c27.248-29.876,56.441-57.795,86.371-84.952c14.122-12.809,9.968-29.765-1.051-39.628    c-1.899-2.798-4.352-5.408-7.511-7.68c-27.822-20.005-54.491-41.396-80.644-63.539c-27.685-23.45-67.953,16.412-40.045,40.05    c11.629,9.849,23.41,19.504,35.287,29.036c-91.454,1.909-222.56-2.158-314.029-2.333C-9.129,105.101-9.124,161.738,27.399,161.809    z" fill="#00a890"/>
		<path d="M416.994,275.083c-91.475,0.178-222.578,4.24-314.032,2.336c11.878-9.531,23.661-19.189,35.287-29.036    c27.909-23.643-12.365-63.502-40.045-40.05c-26.144,22.14-52.818,43.533-80.644,63.535c-3.156,2.271-5.616,4.881-7.508,7.679    c-11.019,9.866-15.173,26.821-1.051,39.628c29.935,27.162,59.123,55.081,86.369,84.955c24.659,27.04,64.597-13.127,40.045-40.045    c-9.308-10.217-18.913-20.124-28.629-29.93c90.18,1.722,220.003-2.265,310.203-2.438    C453.516,331.652,453.521,275.012,416.994,275.083z" fill="#00a890"/>
                  </g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g>
                </g>
                </svg></span>
               <span class="iconBtnText">Engagement</span> 
            </button>     
    <button type="button" class="naturalButton">
              <span><svg xmlns="/assets/images/revert-hand-drawn-arrows.svg" xmlns:xlink="/assets/images/revert-hand-drawn-arrows.svg" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 482.8 482.8" style="enable-background:new 0 0 482.8 482.8;" xml:space="preserve" width="16px" height="16px">
                <g>
                  <g>
                   
		<path d="M27.399,161.809c90.2,0.173,220.021,4.161,310.195,2.44c-9.714,9.8-19.316,19.718-28.624,29.924    c-24.552,26.921,15.386,67.088,40.045,40.048c27.248-29.876,56.441-57.795,86.371-84.952c14.122-12.809,9.968-29.765-1.051-39.628    c-1.899-2.798-4.352-5.408-7.511-7.68c-27.822-20.005-54.491-41.396-80.644-63.539c-27.685-23.45-67.953,16.412-40.045,40.05    c11.629,9.849,23.41,19.504,35.287,29.036c-91.454,1.909-222.56-2.158-314.029-2.333C-9.129,105.101-9.124,161.738,27.399,161.809    z" fill="#00a890"/>
		<path d="M416.994,275.083c-91.475,0.178-222.578,4.24-314.032,2.336c11.878-9.531,23.661-19.189,35.287-29.036    c27.909-23.643-12.365-63.502-40.045-40.05c-26.144,22.14-52.818,43.533-80.644,63.535c-3.156,2.271-5.616,4.881-7.508,7.679    c-11.019,9.866-15.173,26.821-1.051,39.628c29.935,27.162,59.123,55.081,86.369,84.955c24.659,27.04,64.597-13.127,40.045-40.045    c-9.308-10.217-18.913-20.124-28.629-29.93c90.18,1.722,220.003-2.265,310.203-2.438    C453.516,331.652,453.521,275.012,416.994,275.083z" fill="#00a890"/>
                  </g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g>
                </g>
                </svg></span>
               <span class="iconBtnText">Conversation Type</span> 
            </button>     
     <button type="button" class="naturalButtonsmall margin-top">
              <span><svg xmlns="/assets/images/revert-hand-drawn-arrows.svg" xmlns:xlink="/assets/images/revert-hand-drawn-arrows.svg" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 482.8 482.8" style="enable-background:new 0 0 482.8 482.8;" xml:space="preserve" width="16px" height="16px">
                <g>
                  <g>
                   
		<path d="M27.399,161.809c90.2,0.173,220.021,4.161,310.195,2.44c-9.714,9.8-19.316,19.718-28.624,29.924    c-24.552,26.921,15.386,67.088,40.045,40.048c27.248-29.876,56.441-57.795,86.371-84.952c14.122-12.809,9.968-29.765-1.051-39.628    c-1.899-2.798-4.352-5.408-7.511-7.68c-27.822-20.005-54.491-41.396-80.644-63.539c-27.685-23.45-67.953,16.412-40.045,40.05    c11.629,9.849,23.41,19.504,35.287,29.036c-91.454,1.909-222.56-2.158-314.029-2.333C-9.129,105.101-9.124,161.738,27.399,161.809    z" fill="#00a890"/>
		<path d="M416.994,275.083c-91.475,0.178-222.578,4.24-314.032,2.336c11.878-9.531,23.661-19.189,35.287-29.036    c27.909-23.643-12.365-63.502-40.045-40.05c-26.144,22.14-52.818,43.533-80.644,63.535c-3.156,2.271-5.616,4.881-7.508,7.679    c-11.019,9.866-15.173,26.821-1.051,39.628c29.935,27.162,59.123,55.081,86.369,84.955c24.659,27.04,64.597-13.127,40.045-40.045    c-9.308-10.217-18.913-20.124-28.629-29.93c90.18,1.722,220.003-2.265,310.203-2.438    C453.516,331.652,453.521,275.012,416.994,275.083z" fill="#00a890"/>
                  </g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g>
                </g>
                </svg></span>
               <span class="iconBtnText">Attach Files</span> 
            </button>        
              <div>
                 <p class="Add-Client">Add Client</p>
              </div>
              <input type="button" class="addbutton" value="Add" data-toggle="modal" data-target="#addClientModal">  
      <div>
     <p class="Add-Client">Client Contact</p>
      </div>  
      <input type="button" class="addbutton" value="Add" data-toggle="modal" data-target="#clientContactModal">
      <div>
     <p class="Add-Client">Tags</p>
      </div>
    <div>
     <button class="tagDefault tag">Tag label
                          <!--<i class="fa fa-times fatime" aria-hidden="true"></i>-->
                          <img class="fatime" src="/assets/images/delete.svg">
                      </button> 
    <button class="tagDefault tag">Tag label
                          <!--<i class="fa fa-times fatime" aria-hidden="true"></i>-->
                          <img class="fatime" src="/assets/images/delete.svg">
                      </button> 
    <button class="tagDefault tag">Tag label
                          <!--<i class="fa fa-times fatime" aria-hidden="true"></i>-->
                          <img class="fatime" src="/assets/images/delete.svg">
                      </button>       
    </div>                                  
        </div>
        <div class="modal-footer">
          <input type="submit" class="buttonMedium" value="create">
        </div>
        
      </div>  
   </div>
    
  </div>
  
     <div class="modal" id="addClientModal" role="dialog" tabindex="-1" data-focus-on="input:first">
    <div class="client-dialog">
    
     <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Add Client</h4>
        </div>
        <div class="modal-body">
          <p class="client-margin">Client Details</p>
          <div class="container-fluid">
          <div class="row"> 
             <div class="col-md-12">
               <div class="value"> 
                     <input type="text" [ngClass]="{'red-border-class':!uname.valid && !uname.pristine}" class="inputText" id="uname" required name="uname" [(ngModel)] = "lead.uname" #uname="ngModel"/>
                  <span class="floating-label" [ngClass]="{'red-class':!uname.valid && !uname.pristine }">Name</span>
                   <div [hidden]="uname.valid || uname.pristine" class="reqAlert">
                         name is required
                   </div>
               </div>
                        </div> 
                </div>
                <div class="row"> 
               <div class="col-md-5">     
                 <div class="value">      
                     <input type="text" [ngClass]="{'red-border-class':!Building.valid && !Building.pristine}" class="inputText" id="Building" required name="Building" [(ngModel)] = "lead.Building" #Building="ngModel"/>
                  <span class="floating-label" [ngClass]="{'red-class':!Building.valid && !Building.pristine }">Building name</span>
                   <div [hidden]="Building.valid || Building.pristine" class="reqAlert">
                         Building name is required
                   </div>  
                 </div>
               </div>
                               
                <div class="col-md-7">  
                  <div class="value">         
                     <input type="text" [ngClass]="{'red-border-class':!Street.valid && !Street.pristine}" class="inputText" id="Street" required name="Street" [(ngModel)] = "lead.Street" #Street="ngModel"/>
                  <span class="floating-label" [ngClass]="{'red-class':!Street.valid && !Street.pristine }">Street Cross</span>
                   <div [hidden]="Street.valid || Street.pristine" class="reqAlert">
                         Street Cross is required
                   </div>   
                  </div>                 
                  </div>
                </div>
                  <div class="row"> 
                  <div class="col-md-5">     
                    <div class="value">      
                     <input type="text" [ngClass]="{'red-border-class':!Area.valid && !Area.pristine}" class="inputText" id="Area" required name="Area" [(ngModel)] = "lead.Area" #Area="ngModel"/>
                  <span class="floating-label" [ngClass]="{'red-class':!Area.valid && !Area.pristine }">Area</span>
                   <div [hidden]="Area.valid || Area.pristine" class="reqAlert">
                         Area is required
                   </div>   
                    </div>                 
                  </div>
                  <div class="col-md-7"> 
                    <div class="value">          
                     <input type="text" [ngClass]="{'red-border-class':!city.valid && !city.pristine}" class="inputText" id="city" required name="city" [(ngModel)] = "lead.city" #city="ngModel"/>
                  <span class="floating-label" [ngClass]="{'red-class':!city.valid && !city.pristine }">City</span>
                   <div [hidden]="city.valid || city.pristine" class="reqAlert">
                         City is required
                   </div>   
                    </div>                 
                  </div>
                  </div>
                <div class="row"> 
                  <div class="col-md-5">   
                    <div class="value">        
                     <input type="text" [ngClass]="{'red-border-class':!state.valid && !state.pristine}" class="inputText" id="state" required name="state" [(ngModel)] = "lead.state" #state="ngModel"/>
                  <span class="floating-label" [ngClass]="{'red-class':!state.valid && !state.pristine }">State</span>
                   <div [hidden]="state.valid || state.pristine" class="reqAlert">
                         state is required
                   </div>  
                    </div>                  
                  </div>
                  <div class="col-md-7"> 
                    <div class="value">          
                     <input type="text" [ngClass]="{'red-border-class':!country.valid && !country.pristine}" class="inputText" id="country" required name="country" [(ngModel)] = "lead.country" #country="ngModel"/>
                  <span class="floating-label" [ngClass]="{'red-class':!country.valid && !country.pristine }">Country</span>
                   <div [hidden]="country.valid || country.pristine" class="reqAlert">
                         country is required
                   </div>  
                    </div>                  
                  </div>
                </div>
                <div class="row"> 
                   <div class="col-md-6">  
                     <div class="value">         
                     <input type="text" [ngClass]="{'red-border-class':!mailid.valid && !mailid.pristine}" class="clientInputText" id="mailid" required name="mailid" [(ngModel)] = "lead.mailid" #mailid="ngModel"/>
                  <span class="floating-label" [ngClass]="{'red-class':!mailid.valid && !mailid.pristine }">Email Id</span>
                   <div [hidden]="mailid.valid || mailid.pristine" class="reqAlert">
                         Email Id is required
                   </div> 
                     </div>                   
                  </div>
                  <div class="col-md-6">   
                    <div class="value">        
                     <input type="text" [ngClass]="{'red-border-class':!phone.valid && !phone.pristine}" class="inputText" id="phone" required name="phone" [(ngModel)] = "lead.phone" #phone="ngModel"/>
                  <span class="floating-label" [ngClass]="{'red-class':!phone.valid && !phone.pristine }">Phone Numbers</span>
                   <div [hidden]="phone.valid || phone.pristine" class="reqAlert">
                         Phone Number is required
                   </div>  
                    </div>                  
                  </div>
                </div>
                <div class="row"> 
                  <div class="col-md-12">
                    <div class="value"> 
                     <input type="text" [ngClass]="{'red-border-class':!web.valid && !web.pristine}" class="clientInputText" id="web" required name="web" [(ngModel)] = "lead.web" #web="ngModel"/>
                  <span class="floating-label" [ngClass]="{'red-class':!web.valid && !web.pristine }">Website:https//</span>
                   <div [hidden]="web.valid || web.pristine" class="reqAlert">
                         Website url is required
                   </div>
                    </div>
                        </div> 
                </div>
                
          </div>
        </div>
        <div class="modal-footer">
          <input type="button" class="brandblue" value="Create Client">
        </div>
      </div>
      </div>
    </div>