@import 'src/assets/scss/color.scss';


@import 'src/assets/scss/color.scss';
@font-face 
{ font-family: "OpensansRegular"; 
src: url("/assets/fonts/OpenSans-Regular.ttf");
}
@font-face 
{ font-family: "OpensansBold"; 
src: url("/assets/fonts/OpenSans-Bold.ttf");
}
@font-face 
{ font-family: "OpensansSemibold"; 
src: url("/assets/fonts/OpenSans-Semibold.ttf");
}
@font-face 
{ font-family: "OpensansLight"; 
src: url("/assets/fonts/OpenSans-Light.ttf");
}
@font-face 
{ font-family: "HelveticaNeue"; 
src: url("/assets/fonts/HelveticaNeueLt.ttf");
}


.resetImage{
    width: 75%;
    height: 75%;
}
.textfontsize
{
   font-size:24px; 
   font-family:HelveticaNeue; 
   color: #4a4a4a;  
}

.notitextcolor
{
    font-size:24px;
    color:$blue-green;
    font-family:HelveticaNeue; 
}

.notitextwidth
{
    margin: 99px auto;
    width: 52%;
}

.loginborderright
{
    border-right:1px solid #e1e1e1;
}

.loginpadding
{
    padding:50px;
}
.resetPassword{
   width:50%;
   margin: 0 auto;
}

.registerinputText,.regbtn{
   width: 370px;
}

.loginButton
{
    float:right;
    margin-top:24px;
}
.groomeHeadLeft{
    float:left;
}