
<div class="container">
<div class="nav">
  <p class="groomeHead groomeHeadLeft">
  Groome
</p>
<a  routerLink="/login"><input type="button" class="naturalButtonsmall loginButton" value="Login"></a>
</div>
<div class="row">
  <div class="col-md-7 loginborderright">
    <div class="notitextwidth">
    <p class="notitextcolor">
      You will Get reset password link <br>
      to your Organization Email.so <br>
      chill!
    </p>
    </div>
  </div>
   <div class="col-md-5">
     <div class="loginpadding">
     <p class="textfontsize">
       Reset Password
       </p>
      <form (ngSubmit)="f.form.valid && ResetPassword()" #f="ngForm" novalidate>
        <!--<div *ngIf="this.edited==true" class="alert alert-danger alert-dismissable alertdata">
            {{this.errormessage}}
             <span class="close" data-dismiss="alert">&times;</span>
        </div>-->
      <div class="value">    
                     <input type="text" [ngClass]="{'red-border-class':!emailId.valid  && f.submitted}" class="inputText registerinputText" id="emailId" required name="emailId" [(ngModel)] = "pwdreset.emailId" #emailId="ngModel"/>
                  <span class="floating-label" [ngClass]="{'red-class':!emailId.valid  && f.submitted }">Email Id</span>
                   <div *ngIf="!emailId.valid && f.submitted" class="reqAlert">
                         email is required
                   </div>
                    </div>
                  <input type="submit" class="buttonLarge regbuttonLarge regbtn" value="Send">

      </form>
</div>
  </div>
</div>
    <div class="resetPassword">
     <img class="resetImage" src="/assets/images/pwdreset.svg"/>
    </div>
</div>
  

