
<div class="container">
<p class="groomeHead groomeHeadLeft">
  Groome
</p>
<div class="row">
  <div class="col-md-7 loginborderright">
    <div class="notitextwidth">
    <p class="notitextcolor">
      You will Get reset password link <br>
      to your Organization Email.so <br>
      chill!
    </p>
    </div>
  </div>
   <div class="col-md-5">
     <div class="loginpadding">
     <p class="textfontsize">
       Reset Password
       </p>
      <div class="value">    
                     <input type="text" [ngClass]="{'red-border-class':!email.valid && !email.pristine}" class="inputText" id="email" required name="email" [(ngModel)] = "pwdreset.email" #email="ngModel"/>
                  <span class="floating-label" [ngClass]="{'red-class':!email.valid && !email.pristine }">Email Id</span>
                   <div [hidden]="email.valid || email.pristine" class="reqAlert">
                         email is required
                   </div>
                    </div>
                  <input type="button" class="buttonLarge regbuttonLarge" value="Send">
</div>
  </div>
</div>
    <div class="resetPassword">
     <img src="/assets/images/pwdreset.svg"/>
    </div>
</div>
  

