@import 'src/assets/scss/color.scss';

.textfontsize
{
   font-size:24px;   
}

.notitextcolor
{
    font-size:24px;
    color:$blue-green;
}

.notitextwidth
{
    margin: 99px auto;
    width: 52%;
}

.loginborderright
{
    border-right:1px solid #e1e1e1;
}

.loginpadding
{
    padding:50px;
}
.resetPassword{
   width:50%;
   margin: 0 auto;
}

.registerinputText,.regbtn{
   width: 370px;
}