
<div class="container">
<p class="groomeHead groomeHeadLeft">
  Groome
</p>
<div class="row">
  <div class="col-md-7 loginborderright">
    <div class="notitextwidth">
    <p class="notitextcolor">
      You will Get reset password link <br>
      to your Organization Email.so <br>
      chill!
    </p>
    </div>
  </div>
   <div class="col-md-5">
     <div class="loginpadding">
     <p class="textfontsize">
       Reset Password
       </p>
      <form (ngSubmit)="ResetPassword()">
      <div class="value">    
                     <input type="text" [ngClass]="{'red-border-class':!emailId.valid && !emailId.pristine}" class="inputText registerinputText" id="emailId" required name="emailId" [(ngModel)] = "pwdreset.emailId" #emailId="ngModel"/>
                  <span class="floating-label" [ngClass]="{'red-class':!emailId.valid && !emailId.pristine }">Email Id</span>
                   <div [hidden]="emailId.valid || emailId.pristine" class="reqAlert">
                         email is required
                   </div>
                    </div>
                  <input type="submit" class="buttonLarge regbuttonLarge regbtn" value="Send">

      </form>
</div>
  </div>
</div>
    <div class="resetPassword">
     <img src="/assets/images/pwdreset.svg"/>
    </div>
</div>
  

