<div class="container">
<p class="groomeHead groomeHeadLeft">
  Groome
</p>
<div class="row">
  <div class="col-md-7">
    <div class="datetextwidth">
    <p class="textfontColor">
      {{message}}
      </p>
    <p class="datefontColor">
      Let the sane be insane, Today!
    </p>
    </div>
  </div>
   <div class="col-md-5 loginborderleft">
     <div class="loginpadding">
     <p class="textfontColor">
       Login
       </p>
<form (ngSubmit)="submit(login)">
      <div class="value">    
                     <input type="text" [ngClass]="{'red-border-class':!UEmail.valid  && !UEmail.pristine || disablename}" (keydown)="addGears()" class="inputText" id="UEmail" required name="UEmail" [(ngModel)] = "login.UEmail" #UEmail="ngModel"/>
                  <span class="floating-label" [ngClass]="{'red-class':!UEmail.valid  && !UEmail.pristine || disablename}">Your name</span>
                   <div [hidden]="UEmail.valid || UEmail.pristine && disableValue" class="reqAlert">
                         name is required
                         
                   </div>
                 
                    </div>

                     <div class="value">    
                     <input type="password" [ngClass]="{'red-border-class':!UPassword.valid && !UPassword.pristine ||disableemail}" required (keydown)="addGears1()" class="inputText" id="UPassword" required name="UPassword" [(ngModel)] = "login.UPassword" #UPassword="ngModel" pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"/>
                  <span class="floating-label" [ngClass]="{'red-class':!UPassword.valid && !UPassword.pristine || disableemail}">Password</span>
                   <div [hidden]="UPassword.valid || UPassword.pristine && disableValue" class="reqAlert">
                         <div [hidden]="!UPassword.hasError('required')">password is required</div>
                         <div [hidden]="!UPassword.hasError('pattern')">Passwords must contain at least six characters, including uppercase, lowercase letters and special charecter.</div>
                   </div>
                   <div [hidden]=""></div>
                    </div> 
           <input type="submit" class="buttonLarge regbuttonLarge" value="Login">
<div class="forgotPwd">
      <a  routerLink="/pwdreset">Did you forgot password ?</a>
</div>
</form>
</div>
  </div>
</div>
<img src="/assets/images/page-1.svg"/>
</div>
  

