<div class="container">
<p class="groomeHead groomeHeadLeft">
  Groome
</p>
<div class="row">
  <div class="col-md-7">
    <div class="datetextwidth">
    <p class="textfontColor">
      {{message}}
      </p>
    <p class="datefontColor">
      Let the sane be insane, Today!
    </p>
    </div>
  </div>
   <div class="col-md-5 loginborderleft">
     <div class="loginpadding">
     <p class="textfontColor1">
       Login
       </p>

<form (ngSubmit)="f.form.valid && submit(login)" #f="ngForm" novalidate>
       <div *ngIf="this.edited==true" class="alert alert-danger alert-dismissable alertdata">
            {{this.errormessage}}
             <span class="close" data-dismiss="alert">&times;</span>
        </div>
       
      <div class="value form-group">    
                     <input type="text" [ngClass]="{'red-border-class':!UEmail.valid  && f.submitted }" (keydown)="addGears()" class="inputText logininputText" id="UEmail" required name="UEmail" [(ngModel)] = "login.UEmail" #UEmail="ngModel"/>
                  <span class="floating-label" [ngClass]="{'red-class':!UEmail.valid && f.submitted}">Your name</span>
                   <div *ngIf="!UEmail.valid && f.submitted" class="reqAlert">
                         name is required
                         
                   </div>
                 
                    </div>

                     <div class="value">    
                     <input type="password" [ngClass]="{'red-border-class':!UPassword.valid && f.submitted}" required (keydown)="addGears1()" class="inputText logininputText" id="UPassword" required name="UPassword" [(ngModel)] = "login.UPassword" #UPassword="ngModel"/>
                  <span class="floating-label" [ngClass]="{'red-class':!UPassword.valid && f.submitted}">Password</span>
                         <div *ngIf="!UPassword.valid && f.submitted" class="reqAlert">password is required</div>
                         <!--<div [hidden]="!UPassword.hasError('pattern')">Passwords must contain at least six characters, including uppercase, lowercase letters and special charecter.</div>-->
                   
                   <div [hidden]=""></div>
                    </div> 
           <input type="submit" class="buttonLarge regbuttonLarge regbtn" value="Login">
<div class="forgotPwd">
      <a class="forgot" routerLink="/pwdreset">Did you forgot password ?</a>
</div>
</form>
</div>
  </div>
</div>
<img src="/assets/images/page-1.svg"/>
</div>
  

