<div class="container">
<div class="nav">
  <p class="groomeHead groomeHeadLeft">
  Groome
</p>
<a  routerLink="/login"><input type="button" class="naturalButtonsmall loginButton" value="Login"></a>
</div>



<div class="row createmargin">

  <div class="col-sm-6 col-md-6 col-lg-6">
          <img class="registerImage" src="/assets/images/register.svg"/>
  </div>
  <div class="col-sm-6 col-md-6 col-lg-6 border-left">
        <form (ngSubmit)="updatePassword()" class="form-horizontal formmarginLeft" #f="ngForm">
            <p class="registertext"> Update profile </p>
              
              
                  <div class="value">    
                     <input type="password" [ngClass]="{'red-border-class':!password.valid && !password.pristine}" class="inputText registerinputText" id="password" required name="password" [(ngModel)] = "upadatepassword.password" #password="ngModel"/>
                  <span class="floating-label" [ngClass]="{'red-class':!password.valid && !password.pristine}">Password</span>
                   <div [hidden]="password.valid || password.pristine" class="reqAlert">
                         <div [hidden]="!password.hasError('required')">password is required</div>
                         <!--<div [hidden]="!password.hasError('pattern')">Passwords must contain at least six characters, including uppercase, lowercase letters and special charecter.</div>-->
                   </div>
                    </div> 

                    <div class="value">  
                     <input type="password" [ngClass]="{'red-border-class':!confirm.valid && !confirm.pristine}" validateEqual="password" class="inputText registerinputText" id="confirm" required name="confirm" [(ngModel)] = "reserpassword.confirm" #confirm="ngModel"/>
                  <span class="floating-label" [ngClass]="{'red-class':!confirm.valid && !confirm.pristine}">confirm password</span>
                   <div [hidden]="confirm.valid || confirm.pristine" class="reqAlert">
                        <!--<div [hidden]="!confirm.hasError('required')">password required</div>-->
                        <div [hidden]="confirm.hasError('validateEqual')">password not match</div>
                   </div>
                    </div>
   

						<div class=" ">
						<!-- <a  routerLink="/login">	<button type="submit" class="btn btn-primary btn-lg btn-block login-button" [disabled]="!f.valid">Register</button></a> -->
            <input type="submit" class="buttonLarge regbuttonLarge regbtn" value="Create">
          </div>
              
						<!--<div class="login-register">
				            <a href="index.php">Login</a>
				         </div>-->

                 <!-- <span>Already register ?? <a  routerLink="/login">Login here</a></span> -->
					</form>

  </div>
 
</div>
</div> 