@import 'src/assets/scss/color.scss';

@font-face 
{ font-family: "OpensansRegular"; 
src: url("/assets/fonts/OpenSans-Regular.ttf");
}

.loginForm{
   width:294px;
   margin: 100px auto;  
}

.loginButton
{
   float:right;
   margin-top:24px;
}
.groomeHeadLeft{
   float:left;
}

.registertext{
 
   font-family: OpensansRegular;
   font-size: 36px;
   line-height: 1.22;
   text-align: left;
   color: #002954 ;
   
}

.registerImage{
  width: 100%;
}
.createmargin{
  margin-top:105px;
}

.meet{
  border-right: 1px solid #e1e1e1 ;
}
.formmarginLeft{
    margin-left: 44px;
}

.registerinputText,.regbtn{
  width: 370px;
}