<div class="container">
<div class="nav">
  <p class="groomeHead groomeHeadLeft">
  Groome
</p>
<a  routerLink="/login"><input type="button" class="naturalButtonsmall loginButton" value="Login"></a>
</div>
<div class = "messageText">
  <p class="hometext">
  Your request has been Notified to Admin, Soon you will be receiving a reset password Link in mail.
  
</p>
 <p class="hometext coffeeText">
  Till then sip Some brewed coffee!
</p>
<img class="coffeeImg" src="/assets/images/coffeebar.svg"/> 
</div>


</div>