
@import 'src/assets/scss/color.scss';
@font-face 
{ font-family: "HelveticaNeueMedium"; 
src: url("/assets/fonts/HelveticaNeue Medium.ttf");
}
@font-face 
{ font-family: "HelveticaNeue"; 
src: url("/assets/fonts/HelveticaNeueLt.ttf");
}


.loginButton
{
    float:right;
    margin-top:24px;
}
.groomeHeadLeft{
    float:left;
}

.messageText{
   width: 71%;
   margin: 0 auto;
   font-size: 36px;
   line-height: 1.22;
   text-align: center;
   color: #4a4a4a;
   font-family: HelveticaNeue;
   margin-top:60px;
}
.coffeeText,.coffeeImg{
   margin-top:20px;
}
