@import 'src/assets/scss/color.scss';


@font-face 
{ font-family: "OpensansRegular"; 
src: url("/assets/fonts/OpenSans-Regular.ttf");
}


.loginButton
{
   float:right;
   margin-top:24px;
}
.groomeHeadLeft{
   float:left;
}

.messageText{
  width: 71%;
  margin: 0 auto;
  font-size: 36px;
  line-height: 1.22;
  text-align: center;
  color: #4a4a4a ;
  font-family: OpensansRegular;
  margin-top:40px;
}
.coffeeText,.coffeeImg{
  margin-top:10px;
}