@import 'src/assets/scss/color.scss';
@font-face 
{ font-family: "OpensansRegular"; 
src: url("/assets/fonts/OpenSans-Regular.ttf");
}
.buttonclass{
    width:670px;
    margin: 60px auto;
    text-align: center; 
 }
 .homeImage{            //new class
    width: 80%;
 }
 .hometext
 { width: 670px;
    height: 98px;
     font-size:36px;
     color:$blue-green;
     font-family: OpensansRegular; //add
    
 }