@import 'src/assets/scss/color.scss';
.loginForm{
    width:294px;
    margin: 100px auto;  
}

.loginButton
{
    float:right;
    margin-top:24px;
}
.groomeHeadLeft{
    float:left;
}

.registertext{
    font-size:24px;
}

.registerImage{
   width: 100%;
}