<div class="container">
    <div class="nav">
      <p class="groomeHead groomeHeadLeft">
      Groome
    </p>
    <a  routerLink="/login"><input type="button" class="naturalButtonsmall loginButton" value="Login"></a>
    </div>
    
       
    
    
    <div class="row createmargin">
    
      <div class="col-sm-6 col-md-6 col-lg-6">
              <img class="registerImage" src="/assets/images/meet.svg"/>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 ">
            <form (ngSubmit)="f.form.valid && submitRegister()" class="form-horizontal formmarginLeft" #f="ngForm" novalidate>
                <p class="registertext"> Create Your Profile </p>
                <div class="border-left">
              <div class="value">    
                         <input type="text" [ngClass]="{'red-border-class':!UFirstName.valid && f.submitted}" class="inputText registerinputText" (keydown)="reqfirstName()" id="UFirstName" required name="UFirstName" [(ngModel)] = "register.UFirstName" #UFirstName="ngModel"/>
                      <span class="floating-label" [ngClass]="{'red-class':!UFirstName.valid && f.submitted}">First Name</span>
                       <div  *ngIf="!UFirstName.valid && f.submitted" class="reqAlert">
                            first name is required
                       </div>
                        </div>
    
                       <div class="value">    
                         <input type="text" [ngClass]="{'red-border-class':!ULastName.valid && f.submitted}" class="inputText registerinputText" (keydown)="reqlName()" id="ULastName" required name="ULastName" [(ngModel)] = "register.ULastName" #ULastName="ngModel"/>
                      <span class="floating-label" [ngClass]="{'red-class':!ULastName.valid && f.submitted}">Last Name</span>
                       <div *ngIf="!ULastName.valid && f.submitted" class="reqAlert">
                             last name is required
                       </div>
                        </div>  
     
                      <div class="value">    
                         <input type="password" [ngClass]="{'red-border-class':!UPassword.valid && f.submitted}" class="inputText registerinputText" (keyup)="reqpassword()" id="UPassword" required name="UPassword" [(ngModel)] = "register.UPassword" #UPassword="ngModel" pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"/>
                      <span class="floating-label" [ngClass]="{'red-class':!UPassword.valid && f.submitted}">Password</span>
                       <div *ngIf="!UPassword.valid && f.submitted" class="reqAlert">
                             <div [hidden]="!UPassword.hasError('required')">password is required</div>
                             <div [hidden]="!UPassword.hasError('pattern')">Passwords must contain at least six characters, including uppercase, lowercase letters and special charecter.</div>
                       </div>
                        </div> 
    
                        <div class="value">  
                         <input type="password" [ngClass]="{'red-border-class':!confirm.valid && f.submitted}" validateEqual="UPassword" class="inputText registerinputText" (keyup)="reqconfirm()" id="confirm" required name="confirm" [(ngModel)] = "resetpassword.confirm" #confirm="ngModel"/>
                      <span class="floating-label" [ngClass]="{'red-class':!confirm.valid && f.submitted}">Confirm password</span>
                       <div *ngIf="!confirm.valid && f.submitted" class="reqAlert">
                            <!--<div [hidden]="!confirm.hasError('required')">password required</div>-->
                            <div [hidden]="confirm.hasError('validateEqual')">password not match</div>
                       </div>
                        </div>
                </div>
       
    
                <div class="groome_button ">
                <!-- <a  routerLink="/login">  <button type="submit" class="btn btn-primary btn-lg btn-block login-button" [disabled]="!f.valid">Register</button></a> -->
                <input type="submit" class="buttonLarge regbuttonLarge regbtn" value="Take me to groome">
              </div>
              
                <!--<div class="login-register">
                        <a href="index.php">Login</a>
                     </div>-->
    
                     <!-- <span>Already register ?? <a  routerLink="/login">Login here</a></span> -->
              </form>
    
      </div>
     
    </div>
    </div> 